:root {
  --fel-color-primary: #00bfb2;
  --fel-color-secondary: #9448bc;
  --fel-color-tertiary: #480355;
  --fel-color-extra: #dc602e;
  --fel-color-background: #faf3dd;
  --fel-color-background-filter: #9e9e9d;
}
